body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

d1 {
    font-size: 75px;
}

hr {
    width: 1000px;
}

#board {
    /* 3x3 392x392, 6x6 686x686, 9x9 980x980 */ 
    width: 686px; 
    height: 686px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 96px;
    height: 96px;
    border: 1px solid gray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct-tile {
    background-color: limegreen;
}

.darken {
    background-color: lightgray;
    outline: 10px black;
}

.modal {
    display: none;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    min-width: 400px;
    min-height: 400px;

    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    gap: 12px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 360px;
    text-align: center;
    align-items: stretch;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);

    animation: popup 0.3s ease-out;
}

.suggestions {
    list-style: none;
    margin-top: 5px;
    padding: 0;
    background: white;
    border: 1px solid gray;
    max-height: 240px;
    overflow-y: auto;
    display: none;
    position: relative;
    width: 100%;
    z-index: 1100;
    transition: max-height 1s ease-in-out;
}

.suggestions li {
    padding: 10px 12px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: lightgray;
}

.categories {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 16px;
    outline: auto;
}

@keyframes popup {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        scale(1);
    }
    to {
        opacity: 0;
        scale(0.5);
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.game-complete {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    z-index: 1100;
    animation: popup 0.3s ease-out;

}